body {
    width: 100%;
    padding: 0;
    background: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle-1 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0%;
    top: 0%;
    background: #020819;
    opacity: 0.9;
    z-index: 1;
}

h1.emily-comeaux {
    position: absolute;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    transform: translateX(20px);
    margin: 0 auto;
    width: 151px;
    height: 46px;
    left: 50px;
    top: 15px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    color: #B7A5A5;
}

.rectangle-1 .icons {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 50px;
}

.links-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 75px;
    background: #B7A5A5;
    border-radius: 6.66597px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 75px);
    /* Adjust for the header height */
    margin-top: 75px;
    /* Adjust for the header height */
    padding: 20px;
    box-sizing: border-box;
}

.rectangle-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 100%;
    background: #020819;
    padding: 20px;
    border: 2px solid #B7A5A5;
    border-radius: 24px;
    opacity: 0.9;
    overflow: hidden;
    overflow-y: scroll;
}


.rectangle-3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 100%;
    background: #020819;
    padding: 20px;
    border: 2px solid #B7A5A5;
    border-radius: 24px;
    opacity: 0.9;
    overflow: hidden;
}

.emily-photo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* .rectangle-3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 100%;
    background: #020819;
    padding: 20px;
    border: 2px solid #B7A5A5;
    border-radius: 24px;
    opacity: 0.9;
    overflow: hidden;
}

.emily-photo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
} */

.headingBar {
    width: 245px;
    height: 2px;
    background: #B7A5A5;
    border-radius: 6.66597px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.aboutMe {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #B7A5A5;
    margin: 20px 0;
}

.intro {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #B7A5A5;
    text-align: left;
    margin: 20px 0;
    width: 100%;
}

/* Social Media Buttons */
.social-button {
    width: 48.26px;
    height: 48.26px;
    cursor: pointer;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.icons {
    display: flex;
    gap: 20px;
}

#sound-button {
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 30px;
    cursor: pointer;
    width: 50px;
    height: auto;
}

@media (max-width: 768px) {
    .aboutMe {
        font-size: 30px;
        line-height: 40px;
    }

    .intro {
        font-size: 20px;
        line-height: 30px;
    }

    .rectangle-2,
    .rectangle-3 {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}